# Dependencies
node_modules

# Compiled output
dist

# Environment variables (secrets)
.env
.env.test
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Editor files
.vscode/
.idea/